@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
       <table>
    <tr>
        <td>
            <h1 class="display-4">Welcome to the Final Web!</h1>
            <p>Final Web is a web application that allows you to create, read, update, and delete data from a database.</p>
        </td>
    </tr>
</table>
</div>
